body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 35px;
}
a:link{
    text-decoration: none;
}

.container{
    width: 1000px;
    margin: auto;
}

#topo{
    width: 100%;
    height: 60px;   
           
}

#idioma{
    text-align: right;
    font-size: 12px;
    padding: 20px;
}

#menu{
    text-align: right;
    margin-top: 9px;
}



#menu a{
    color: black;    
    text-decoration: none;
    padding: 20px;  
    
}


#texto{
    font-size: 30px;
    margin-top: 80px;
    text-align: right;
}

#cinza{
    width: 100%;
    height: 500px;
    background: #dedede;
    margin-top: 300px; 
    
}

#portfolio{    
    margin-top: 400px;
    text-align: center; /* centralizar o texto*/    
    padding: 30px;   
    
}


#contato{
    margin: 0;
    text-align: center; /* centralizar o texto*/
    padding: 25px;
   
}
.container2{
    width: 100%;
    height: 535px;
    background-image: url(img/rodaPe.jpg);
    
}

#rodape{
    text-align: center;
    color: black;
    margin-top: 50px;
    padding: 20px 0;
    font-size: 12px;
     
}

i{
    padding:5px;
    
}

/**/
#menu2{
    text-align: right;
    margin-top: 79px;
           
}
#menu2 a{
    color: black;    
    text-decoration: none;
    padding: 20px;  
    
}
/* pagina sobre José */
.sobre{
    font-size: 16px;    
    background-color: white;
    text-align: center;
    padding: 25px;
}

/* pagina sobre José*/
.eu{
    width: 500px;
    margin: auto;
    text-align: justify;
}

.jose{
    width: 250px;
    
}

/* pagina sobre José - toggle */
#toggle-view {
	list-style:none;	
	font-family:arial;
	font-size:16px;
	margin:10px;
	padding:0;
	width:518px;
    margin: auto;
}

	#toggle-view li {
		margin:10px;
		border-bottom:1px solid #ccc;
		position:relative;
		cursor:pointer;
	}
	
	#toggle-view h3 {
		margin:0;
		font-size:16px;
	}

	#toggle-view span {
		position:absolute;
		right:5px; top:0;
		color:#ccc;
		font-size:16px;
	}
	
	#toggle-view .panel {
		margin:5px 0;
		display:none;
	}



/**/

/*botao voltar para o topo - home */
.smoothscroll-top {
    position:fixed;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    text-align:center;
    z-index:99;
    background-color:#2ba6e1;
    color:#fff;
    width:47px;
    height:44px;
    line-height:44px;
    right:25px;
    bottom:-25px;
    padding-top:2px;
    border-radius:5px;
    transition:all .5s ease-in-out;
    transition-delay:.2s;
}

.smoothscroll-top:hover {
    background-color:#3eb2ea;
    color:#fff;
    transition:all .2s ease-in-out;
    transition-delay:0;
}

.smoothscroll-top.show {
    visibility:visible;
    cursor:pointer;
    opacity:1;
    bottom:25px;
    }

.smoothscroll-top i.fa {
    line-height:inherit;
}

.smoothscroll-top.show {
    visibility:visible;
    cursor:pointer;
    opacity:1;
    bottom:25px;
}

.smoothscroll-top i.fa {
    line-height:inherit;
}

